 <!-- About Section -->
 <section class="success" id="experiences">
    <div class="container career-container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Experience</h2>
                <p>MY JOURNEY SO FAR</p>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                    <div>
                        <img alt="Python" src="img/career_timeline.svg">
                    </div>
            </div>
        </div>

    </div>
</section>

